<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%AZURE_TOMCAT7_HOME%\bin\startup.bat" 
        arguments="">
      <environmentVariables>
        <environmentVariable name="CATALINA_OPTS" value="-Dport.http=%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true -Xms512m -Xmx1024m -XX:PermSize=128m -XX:MaxPermSize=256m" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>